body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.quiz-container {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#question {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 10px;
    margin: 5px 0;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

#controls, #score-container, #timer {
    margin-top: 15px;
}

.hidden {
    display: none;
}